certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
docutils==0.21.2
future==1.0.0
idna==3.7
iso8601==2.1.0
Kivy==2.3.0
Kivy-Garden==0.1.5
pycparser==2.22
Pygments==2.18.0
pyserial==3.5
PyYAML==6.0.1
requests==2.31.0
serial==0.0.97
urllib3==2.2.1
